*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title, .container-label{
    padding-bottom: 10px;
}
.title{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.container-label{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-weight: bold;
    font-size: 1.2em;
}
#inputCor{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
#btn-send{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 1em;
}
#btn-send:hover{
    opacity: 0.9;
}
#btn-send:active{
    scale: 0.9;
}
.message-erro{
    font-size: x-small;
    margin: 0;
    padding: 0;
    color: red;
}
.hide{
    display: none;
}